// color theme
:root
    --text-50 #f3f2f3
    --text-100 #e6e5e6
    --text-200 #cecace
    --text-300 #b5b0b5
    --text-400 #9c969c
    --text-500 #837c83
    --text-600 #696369
    --text-700 #4f4a4f
    --text-800 #353135
    --text-900 #1a191a
    --text-950 #0d0c0d

    --background-50 #f3f1f3
    --background-100 #e7e4e7
    --background-200 #d0c8d0
    --background-300 #b8adb8
    --background-400 #a092a0
    --background-500 #887788
    --background-600 #6d5f6d
    --background-700 #524752
    --background-800 #372f37
    --background-900 #1b181b
    --background-950 #0e0c0e

    --primary-50 #f3f0f4
    --primary-100 #e8e2e9
    --primary-200 #d1c5d3
    --primary-300 #baa8bd
    --primary-400 #a38ba7
    --primary-500 #8c6e91
    --primary-600 #705874
    --primary-700 #544257
    --primary-800 #382c3a
    --primary-900 #1c161d
    --primary-950 #0e0b0f

    --secondary-50 #f4f0f5
    --secondary-100 #e9e1ea
    --secondary-200 #d3c2d6
    --secondary-300 #bda4c1
    --secondary-400 #a786ac
    --secondary-500 #906798
    --secondary-600 #745379
    --secondary-700 #573e5b
    --secondary-800 #3a293d
    --secondary-900 #1d151e
    --secondary-950 #0e0a0f

    --accent-50 #f4eff5
    --accent-100 #eadfec
    --accent-200 #d5c0d8
    --accent-300 #bfa0c5
    --accent-400 #aa81b1
    --accent-500 #95619e
    --accent-600 #774e7e
    --accent-700 #593a5f
    --accent-800 #3c273f
    --accent-900 #1e1320
    --accent-950 #0f0a10

color-bg = var(--background-950)
color-bg-panel-1 = var(--background-900)
color-bg-panel-2 = var(--background-800)
color-icon = var(--primary-500)
color-icon-light = var(--secondary-500)
color-icon-hover = var(--primary-400)
color-txt = var(--text-50)
color-txt-gray = var(--text-400)

*
    margin 0
    padding 0
    font-family "Rubik", serif
    font-weight 370
    user-select: none
    color color-txt


body
    background-color color-bg
    height 100%

button
    background-color transparent
    cursor pointer
    border none

.session-close-btn
.session-add-btn
#settings-btn
    display flex
    align-content center

.session
    min-width 120px
    width fit-content
    height 100%
    border-radius 12px
    align-items center
    display flex
    margin-left 5px
    transition all 0.2s ease-in-out
    &-cover
        max-height 80%
        border-radius 999px
        margin 4px
    &-title
        font-size 18px
        color color-txt
    &-active
        background-color color-bg-panel-2
    &-divider
        height 50%
        border-color color-bg-panel-2
        border-style solid
        width 0px
    &:hover
        background-color color-bg-panel-2
        cursor pointer

#mediabar
    position absolute
    bottom 0
    width calc(100% - 20px)
    background-color color-bg-panel-1
    display flex
    flex-direction column
    height 80px
    align-items center
    border-radius 12px
    margin 10px

#media_control
    display flex
    flex-direction row
    width 100%
    justify-content center
    gap 40px

#media_control_extra
#media_control_base
    display flex
    flex-direction row

#media_title
    display flex
    flex-direction column
    gap 3px
    margin-left 10px

#media_txt_title
    font-weight 500
    font-size 17px
    white-space nowrap

#media_txt_author
    font-weight 400
    color color-txt-gray
    font-size 14px

.media_time
    font-size 13px
    margin-left 5px
    margin-right 5px
    color color-txt-gray

#timebar_wrapper
    width 100%
    display flex
    align-items center
    justify-content center
    margin-top -8px

#timebar
    height 4px
    width 95%
    background-color color-txt-gray
    border-radius 100px
    cursor pointer

#timebar_fg
    height 4px
    width 60%
    background-color color-icon-light
    border-radius 100px
    display flex
    justify-content right
    align-items center

#timestamp_dot
    width 15px
    height 15px
    border-radius 100px
    background-color color-icon-light
    margin-right -5px
    z-index 999
    transition all 0.1s ease-in-out
    &:hover
        width 18px
        height 18px
        margin-right -7px

#actions
    display flex
    width 100%
    height 80px
    align-items center

#media_cover
    margin-left 5px
    margin-right 5px
    align-items center
    display flex

#media_cover_img
    width 70px
    border-radius 15px

#sessionbar
    display flex
    background-color color-bg-panel-1
    position absolute
    width calc(100% - 20px)
    height 50px
    align-items center
    justify-content space-between
    border-radius 12px
    margin 10px
    &-container
        height calc(100% - 10px)
        width 100%
        margin-left 5px
        margin-right 5px
        display flex
        align-items center

.media_control_btn
    display flex
    align-items center
    justify-content center

.icon
    color color-icon
    &-settings
        font-size 27px !important
        margin-left 5px
        margin-right 5px
        transition ease-in-out 0.2s all
        &:hover
            color color-icon-hover
    &-session-close
        font-size 20px !important
        margin-left 5px
        margin-right 5px
        transition ease-in-out 0.2s all
        &:hover
            color color-icon-hover
    &-session-add
        font-size 25px !important
        margin-left 5px
        margin-right 5px
        transition ease-in-out 0.2s all
        &:hover
            color color-icon-hover
    &_media
        font-size 45px !important
        margin-left 10px
        margin-right 10px
        transition ease-in-out 0.2s all
        &:hover
            color color-icon-hover

// google icon settings
.material-symbols-outlined
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24